extends layout

block BodyContent

  h2 JavaScript Books
  ul
    li 
      a(href='http://www.amazon.com/JavaScript-Good-Parts-Douglas-Crockford/dp/0596517742',
        target='_blank') 
        | JavaScript: The Good Parts
      |  Doug Crokford's famous book that discusses the "good parts" 
      | of the language. Please read it once you learn the basic 
      | concepts of JavaScript. 
    li
      a(href='http://jsninja.com/',
        target='_blank') 
        | Secrets of the JavaScript Ninja
      |  A book in progress by jQuery author Jonh Resig. It covers advances
      | topics of the language and is recommended for those who want to be
      | a JavaScript Ninja.  
    li
      a(href='http://www.amazon.com/JavaScript-Definitive-Guide-Activate-Guides/dp/0596805527',
        target='_blank') 
        | JavaScript: The Definitive Guide
      |  A book that covers JavaScript deatils 
      | [unfortunately] using the ugly DOM API.   

  h2 JavaScript Online Resources
  ul 
    li
      a(href='http://javascript.crockford.com/code.html',
        target='_blank') 
        | JavaScript Code conventions
      |  A set of coding styles recommended by Doug Crokford. 
    li
      a(href='http://dailyjs.com/',
        target='_blank') 
        | DailyJS
      |  A site that has news, tutorials and reviews for JavaScript and 
      | popular tools/libraries. 
    li
      a(href='http://dmitrysoshnikov.com/',
        target='_blank') 
        | Dmitry Soshnikov's blog
      |  A blog site that explains many JavaScript language concepts.
      | Not well organized but a lot good tutorials.  
  
  h2 Node.js Resources
  ul 
    li
      a(href='http://book.mixu.net/',
        target='_blank') 
        | Mixu's Node book
      |   A good introduction book in Node.js.   

  h2 MongoDB Resources
  ul 
    li
      a(href='http://openmymind.net/2011/3/28/The-Little-MongoDB-Book/',
        target='_blank') 
        | The Little MongoDB Book
      |  A little book that covers a number of fundamental topics of 
      | MongoDb in only 32 pages. 
  
